@import url("https://use.typekit.net/ado5vln.css");

@font-face {
font-family: 'OwnersTRIALXWide';  /* Nombre que usarás para la fuente */
src: url('fonts/OwnersTRIALXWide-Medium-BF64361ef4cb276.otf') format('opentype');  /* Ruta y formato de la fuente */
font-weight: normal;
font-style: normal;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'OwnersTRIALXWide', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}


/* loader  */


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* header  */


.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9) 30%);
    pointer-events: none;
}
.header-content {
    position: relative;
    z-index: 10;
}
.header-content h1 {
    font-size: 7rem;
    margin: 0;
    font-family: 'OwnersTRIALXWide', sans-serif;
    letter-spacing: 5px;
    
}
.header-content h2 {
    font-size: 2rem;
    margin-top: 10px;
}


/* Estilos del Header y Fondo */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

/* -- NAV BAR -- */
.navbar{
background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0));

}



.navbar-brand {
font-size: 2rem;
font-family: "roc-grotesk", sans-serif;
font-weight: 400;
color: #ffffff;
display: flex;
flex-direction: row;
align-items: center;
}

.navbar-brand img {
max-height: 50px;
}

.navbar-toggler{
border: none !important;
box-shadow: none !important;
color: #fff;
}

.navbar-toggler-icon{

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
color: #fff;
}




.nav-link {
color: #ffffff;
opacity: 0.8;
font-size: 1.5rem;
}

.nav-link.active {
font-weight: bold;
color: #ffffff !important;
}

.nav-link:hover {
color: #ffffff !important;
font-weight: bold;
opacity: 1;
transition: transform 1s ease-in-out;
}


.project {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.5s ease-in-out;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;
   
    filter: grayscale(1);
}


.project:hover {
   
    filter: none;
}


.project.expanded {
    height: 70vh;
   
    filter: none;
}

.project.expanded video{
    height: 70vh;
   
    filter: none;
    filter: blur(0);
}


.project video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(20px);  /* Aplica el desenfoque por defecto */
    transition: all 0.5s ease-in-out;  /* Transición suave para eliminar el desenfoque */

}

.project video:hover {
    border: 3px solid #fff;
    transition: all 0.1s ease-in-out;
    filter: blur(0);
   
}


.project-info, .project-text {
    position: absolute;
    transition: all 0.5s ease-in-out;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}



.project-info {
    top: 50px;
left: 50px;
bottom: 10px;
text-align: left;
transform: translateY(0);
transition: transform 0.5s ease-in-out;
}




.project-info p {
    opacity: 0; /* Oculto por defecto */
    transform: translateY(-100%); /* Comienza fuera de la vista (arriba) */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    font-family: "roc-grotesk", sans-serif;
   
}


.project.expanded .project-info p {
    opacity: 1; /* Aparece al expandirse */
    margin-left: 85px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(0) scale(1.5); /* Mueve desde arriba hasta su posición final */
    transition-delay: 0.3s; /* Retraso de medio segundo */


}


.project.expanded .project-info {
    top: 50px;
    left: 50px; /* Se mantiene alineado a la izquierda */
    transform: translateY(-8px); /* Ajustado para que suba de forma progresiva */
    text-align: left;
}


.project-info h3 {
    font-size: 3rem;
    font-weight: 600;
}
.project-text {
    right: 50px;
    bottom: 50%;
    top: 50%;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}


.project-text a {
    text-decoration: none;
    color: #fff;
   
}


.project.expanded .project-text {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    font-size: 6rem;
   
   
}


section {
    padding: 100px 0;
}






/* DISCORD  */

.discord {
    height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        #text {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 50px;
            text-align: center;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            letter-spacing: 0.05em;
            padding: 1em;
        }
        #text span {
            display: inline-block;
            width: 1.1ch; /* Mantiene el espacio uniforme entre caracteres */
            text-align: center;
            visibility: hidden; /* Oculta los caracteres hasta que se revelen */
        }
        #text span.i-adjust {
            width: 0.7ch; /* Ajuste específico para la letra "i" */
        }
        
        .button {
            background-color: #000000;
            color: #fff;
            font-size: 1.5rem;
            padding: 15px 30px;
            border: 3px solid #fff;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            margin-top: 20px;

        }
        .button:hover {
            
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            
            
        }

        .button a {
            color: #000;
        }








/* MERCHANDISING  */




.product-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* Limita a 4 productos por fila */
    padding: 20px;
  }
  
  .product-card {
    text-align: center;
  }
  
  .image-container {
    position: relative;
    overflow: hidden; /* Evita que la imagen salga del contenedor */
  }
  
  .product-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición para zoom y opacidad */
  }
  
  .image-container:hover .product-image {
    transform: scale(1.1); /* Zoom suave */
  }

  .add-to-cart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .image-container:hover .add-to-cart {
    display: block;
  }
  

  .color-options {
    margin-top: 10px;
  }

  .product-card .color-options {
    justify-content: center;
  }
  
  .color-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
  }
  

  .color-circle:nth-child(1) {
    background-color: #000000; 
    border: solid 1px white;
  }
  
  .color-circle:nth-child(2) {
    background-color: #ffffff; 
  }
  

  #circle-azul {
    background-color: #19a5f7;
  }

  #circle-marron {
    background-color: #6d4406;
  }


  @media (max-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); /* Cambia a 3 productos por fila en pantallas medianas */
    }
  }
  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* Cambia a 2 productos por fila en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .product-grid {
      grid-template-columns: repeat(1, 1fr); /* Cambia a 1 producto por fila en pantallas muy pequeñas */
    }
  }









/* EDITABLE  */


.product-customizer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .customizer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .preview-container {
    flex: 1;
    min-width: 300px;
  }
  
  .cap-preview {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* Eliminamos el fondo blanco */
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cap-preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease;
  }
  
  .options-container {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .color-section {
    margin-bottom: 20px;
  }
  
  .color-section h3 {
    margin-bottom: 10px;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .color-option, .star-option {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .color-option:hover, .star-option:hover {
    transform: scale(1.1);
  }
  
  /* Cambiamos el borde a blanco para los elementos seleccionados */
  .color-option.selected, .star-option.selected {
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Añadimos sombra para que el borde blanco sea visible */
    transform: scale(1.1);
  }
  
  /* Estilos específicos para cada color de opción */
  .color-option[data-color="black"], .star-option[data-color="black"] {
    background-color: #242424;
    
  }
  
  .color-option[data-color="blue"], .star-option[data-color="blue"] {
    background-color: #6690bb;
  }
  
  .color-option[data-color="brown"], .star-option[data-color="brown"] {
    background-color: #805a40;
  }
  
  .color-option[data-color="green"], .star-option[data-color="green"] {
    background-color: #558168;
  }
  
  .color-option[data-color="purple"], .star-option[data-color="purple"] {
    background-color: #9576b3;
  }
  
  .color-option[data-color="red"], .star-option[data-color="red"] {
    background-color: #b16464;
  }
  
  .color-option[data-color="yellow"], .star-option[data-color="yellow"] {
    background-color: #bbae65;
  }
  
  .price-container {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
  }
  
  .add-cart-btn {
    background-color: #000000;
            color: #fff;
            font-size: 1.5rem;
            padding: 15px 25px;
            border: 3px solid #fff;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            display: flex;
            max-width: fit-content;

  }
  
  .add-cart-btn:hover {
    background-color: #ffffff;
    color: #000;
  }
  
  /* Mejoramos el responsive para dispositivos móviles */
  @media (max-width: 768px) {
    .customizer-container {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    
    .cap-preview {
      padding-bottom: 80%;
      margin-bottom: 20px;
    }
    
    /* Aseguramos que las opciones están debajo de la imagen */
    .preview-container {
      order: 1;
    }
    
    .options-container {
      order: 2;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
    }
  }



/* FOOTER  */

footer {
background-color: rgba(0, 0, 0, 0.7);
}

footer svg{
fill:#ffffff;
}

footer svg:hover{
fill:#ffffff;
transform: scale(1.5);
transition: 0.2s ease-in-out;
}

.footer-brand:hover{
color: #060000;
}

footer h6 {
font-weight: bold;
white-space: nowrap;
}

.footer-email{
display: inline-block;
border: 2px solid rgb(6, 0, 0);
border-radius: 30px;
}

.footer-email:hover{
border: 2px solid #ffffff;
}

.footer-section a {
text-decoration: none;
color: #fff;
opacity: 0.8;
}

.footer-section a:hover {
color: #ffffff !important;
font-weight: bold;
opacity: 1;
transition: transform 1s ease-in-out;
}


/* PROYECTOS  */


@media (max-width: 1400px) {

    .project-info h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .project-text {
        font-size: 2.5rem;
        
    }

    
}


@media (max-width: 1050px) {

    .project-info h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    .project-text {
        font-size: 2rem;
        
    }

    .project.expanded .project-text {    
        font-size: 5rem; 
    }
}


@media (max-width: 830px) {

    .project-info h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .project-text {
        font-size: 1.5rem;
        
    }

    .project.expanded .project-text {    
        font-size: 4rem; 
    }

}


@media (max-width: 680px) {

    .project-info h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .project-text {
        font-size: 1.2rem;
        
    }

    .project.expanded .project-text {    
        font-size: 3rem; 
    }

}

/* TEXTO DISCORD  */


@media (max-width: 1900px) {

    #text {
        font-size: 2.5em;
    }

    
}


@media (max-width: 1600px) {

    #text {
        font-size: 2em;
    }

    
}

@media (max-width: 1400px) {

    #text {
        font-size: 1.5em;
    }

    
}


@media (max-width: 1050px) {

    #text {
        font-size: 1.2em;
    }

    
}


@media (max-width: 830px) {

    #text {
        font-size: 1em;
    }

    
}



@media (max-width: 680px) {

    #text {
        font-size: 0.8em;
    }

    
}


@media (max-width: 530px) {

    #text {
        font-size: 0.7em;
    }

    
}

 /* Estilos cuando el menú hamburguesa se abre */

 @media (max-width: 993px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
        height: 30vh;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem; /* Aumentamos el tamaño de los enlaces en pantallas pequeñas */
        text-align: center;
    }

    .navbar-collapse.show {
        right: 0; /* Se desliza desde la derecha */
    }

    .navbar-nav .nav-item {
        padding: 0;
    }

    
}



@media (max-width: 993px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
        height: 30vh;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem; /* Aumentamos el tamaño de los enlaces en pantallas pequeñas */
        text-align: center;
    }

    .navbar-collapse.show {
        right: 0; /* Se desliza desde la derecha */
    }

    .navbar-nav .nav-item {
        padding: 0;
    }

    
}

/* Mostrar las opciones del menú en pantallas grandes */
@media (min-width: 993px) {
    .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        position: initial !important;
        width: auto !important;
        right: initial !important;
    }

    .navbar-toggler {
        display: none;
    }
}



@media (max-width: 890px){

footer h6{
font-size: 0.9rem;
}
.footer-content{
flex-direction: column;
align-items: center;
}

.footer-section{
align-items: center !important;
padding-top: 1rem;
padding-bottom: 1rem;
}

.legals {
    display: flex;
    flex-direction: row;
}

}




  
